<div class="admin-carts">
    <h2>Orders</h2>
</div>

<section class="baskets">
    <ul class="baskets-ul">
        <% data.forEach(basket => { %>
            <li>
                <span class="user__name">
                    <%= basket.name %>
                </span>
                <span class="order__status">
                    <% if (basket.ifOrdered == false) { %>
                        In progress
                    <% }else { %>
                        Order placed
                        <% } %>
                </span>
                <% basket.contents.forEach(item => { %>
                    <ul class="basket__contents">
                        <span class="basket__item"><%= item.name %></span>
                        <span class="basket__quantity"><%= item.quantity %></span>
                    </ul>
                <% }) %>
            </li>
        <% }) %>
    </ul>
</section>