<header class = "header">
    <a href="/" class="header__logo">User Panel</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/user" class="">Buy</a>
            </li>
            <li>
                <a href="/about-user" class="">About</a>
            </li>
            <li>
                <a href="/basket" class="">Basket</a>
            </li>
        </ul>

    </nav>

    <div class="header__button">
        <a href="/logout-user">
            Logout
        </a>
    </div>

</header>