<header class = "header">
    <a href="/dashboard" class="header__logo">Admin Panel</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/dashboard" class="">Home</a>
            </li>
            <li>
                <a href="/active-users" class="">Users</a>
            </li>
            <li>
                <a href="/active-orders" class="">Orders</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <a href="/logout">
            Logout
        </a>
    </div>

</header>