<div class="shop">
    <h1 class="shop__heading">Online shop</h1>
    <p class="shop__body">Buy the best products the fastest u can.</p>
</div>

<img src="img/shopping-cart.png" alt="shopping cart drawing" class="shopping-cart" width="500" height="399">

<section class="products">
    <h2 class="products__categories">Products</h2>

    <ul class="products-ul">
        <% data.forEach(item => { %>
        <li>
            <a href="/item/<%= item.id %>">
                <span><%= item.name %></span>
                <span class="category__name"><%= item.price %></span>
            </a>
        </li>
        <% }) %>
    </ul>
</section>